<h1>Today's record</h1>

<table>
    <thead>
        <tr>
            <th>Hour</th>
            <th>Note</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
    <div id="msg"></div>
    <% for hour in 6..23 %>
      <tr>
        <td><%= hour %></td>
        <% for quarter in 1..4 %>
            <% key = hour.to_s+"-"+quarter.to_s %>
          <td> <%= text_field_tag key, @time_records_hash[key] , class: 'record_textfield' %></td>
        <% end%>
      </tr>
    <% end %>
    </tbody>

</table>

<br>

<%= link_to 'New Time record', new_time_record_path %>
